@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background: #1f2329;
}

.beautiful-header {
  background: -webkit-linear-gradient(
    103.22deg,
    #7b0bf3 -13.86%,
    #ce6c38 99.55%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background {
  background: -webkit-linear-gradient(
    103.22deg,
    #7b0bf3 -13.86%,
    #ce6c38 99.55%
  );
}
.hero-header {
  background: -webkit-linear-gradient(
    103.22deg,
    #dbe6f6 -13.86%,
    #c6ffdd 30%,
    #fbd786 70%,
    #f7797d 99.55%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-header {
  background: -webkit-linear-gradient(
    103.22deg,
    #0f2027 -13.86%,
    #2c5364 99.55%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
